/*----------
    Reset
-----------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*------------
   Container 
------------*/

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;
    margin-left: 1px ;
    margin-bottom: 1px;
}

[class *= "col-"]{
    flex: 0 0 auto;
}

/*-------------
    Component
--------------*/

.col{
    flex-grow: 1;
    flex-basis: 0;
}


.col-1{
    flex-basis: calc(((100% / 12) * 1) - 1px);
    max-width: calc(((100% / 12) * 1) - 1px);
}

.col-2{
    flex-basis: calc(((100% / 12) * 2) - 1px);
    max-width: calc(((100% / 12) * 2) - 1px);
}

.col-3{
    flex-basis: calc(((100% / 12) * 3) - 1px);
    max-width: calc(((100% / 12) * 3) - 1px);
}

.col-4{
    flex-basis: calc(((100% / 12) * 4) - 1px);
    max-width: calc(((100% / 12) * 4) - 1px);
}

.col-5{
    flex-basis: calc(((100% / 12) * 5) - 1px);
    max-width: calc(((100% / 12) * 5) - 1px);
}

.col-6{
    flex-basis: calc(((100% / 12) * 6) - 1px);
    max-width: calc(((100% / 12) * 6) - 1px);
}

.col-7{
    flex-basis: calc(((100% / 12) * 7) - 1px);
    max-width: calc(((100% / 12) * 7) - 1px);
}

.col-8{
    flex-basis: calc(((100% / 12) * 8) - 1px);
    max-width: calc(((100% / 12) * 8) - 1px);
}

.col-9{
    flex-basis: calc(((100% / 12) * 9) - 1px);
    max-width: calc(((100% / 12) * 9) - 1px);
}

.col-10{
    flex-basis: calc(((100% / 12) * 10) - 1px);
    max-width: calc(((100% / 12) * 10) - 1px);
}

.col-11{
    flex-basis: calc(((100% / 12) * 11) - 1px);
    max-width: calc(((100% / 12) * 11) - 1px);
}

.col-12{
    flex-basis: calc(((100% / 12) * 12) - 1px);
    max-width: calc(((100% / 12) * 12) - 1px);
}

/*-------------
    Offset
--------------*/

.col-offset-1{
    margin-left: calc(((100% / 12) * 1) - 1px)
}

.col-offset-2{
    margin-left: calc(((100% / 12) * 2) - 1px)
}

.col-offset-3{
    margin-left: calc(((100% / 12) * 3) - 1px)
}

.col-offset-4{
    margin-left: calc(((100% / 12) * 4) - 1px)
}

.col-offset-5{
    margin-left: calc(((100% / 12) * 5) - 1px)
}

.col-offset-6{
    margin-left: calc(((100% / 12) * 6) - 1px)
}

.col-offset-7{
    margin-left: calc(((100% / 12) * 7) - 1px)
}

.col-offset-8{
    margin-left: calc(((100% / 12) * 8) - 1px)
}

.col-offset-9{
    margin-left: calc(((100% / 12) * 9) - 1px)
}

.col-offset-10{
    margin-left: calc(((100% / 12) * 10) - 1px)
}

.col-offset-11{
    margin-left: calc(((100% / 12) * 11) - 1px)
}

