/*----------
    Reset
-----------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*------------
   Container 
------------*/

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[class *= "col-"]{
    flex: 0 0 auto;
}

/*-------------
    Component
--------------*/

.col-xs{
    flex-grow: 1;
    flex-basis: 0;
}


.col-xs-1{
    flex-basis: calc(((100% / 12) * 1) - 1px);
    max-width: calc(((100% / 12) * 1) - 1px);
}

.col-xs-2{
    flex-basis: calc(((100% / 12) * 2) - 1px);
    max-width: calc(((100% / 12) * 2) - 1px);
}

.col-xs-3{
    flex-basis: calc(((100% / 12) * 3) - 1px);
    max-width: calc(((100% / 12) * 3) - 1px);
}

.col-xs-4{
    flex-basis: calc(((100% / 12) * 4) - 1px);
    max-width: calc(((100% / 12) * 4) - 1px);
}

.col-xs-5{
    flex-basis: calc(((100% / 12) * 5) - 1px);
    max-width: calc(((100% / 12) * 5) - 1px);
}

.col-xs-6{
    flex-basis: calc(((100% / 12) * 6) - 1px);
    max-width: calc(((100% / 12) * 6) - 1px);
}

.col-xs-7{
    flex-basis: calc(((100% / 12) * 7) - 1px);
    max-width: calc(((100% / 12) * 7) - 1px);
}

.col-xs-8{
    flex-basis: calc(((100% / 12) * 8) - 1px);
    max-width: calc(((100% / 12) * 8) - 1px);
}

.col-xs-9{
    flex-basis: calc(((100% / 12) * 9) - 1px);
    max-width: calc(((100% / 12) * 9) - 1px);
}

.col-xs-10{
    flex-basis: calc(((100% / 12) * 10) - 1px);
    max-width: calc(((100% / 12) * 10) - 1px);
}

.col-xs-11{
    flex-basis: calc(((100% / 12) * 11) - 1px);
    max-width: calc(((100% / 12) * 11) - 1px);
}

.col-xs-12{
    flex-basis: calc(((100% / 12) * 12) - 1px);
    max-width: calc(((100% / 12) * 12) - 1px);
}

/*-------------
    Offset
--------------*/

.col-xs-offset-1{
    margin-left: calc(((100% / 12) * 1) - 1px)
}

.col-xs-offset-2{
    margin-left: calc(((100% / 12) * 2) - 1px)
}

.col-xs-offset-3{
    margin-left: calc(((100% / 12) * 3) - 1px)
}

.col-xs-offset-4{
    margin-left: calc(((100% / 12) * 4) - 1px)
}

.col-xs-offset-5{
    margin-left: calc(((100% / 12) * 5) - 1px)
}

.col-xs-offset-6{
    margin-left: calc(((100% / 12) * 6) - 1px)
}

.col-xs-offset-7{
    margin-left: calc(((100% / 12) * 7) - 1px)
}

.col-xs-offset-8{
    margin-left: calc(((100% / 12) * 8) - 1px)
}

.col-xs-offset-9{
    margin-left: calc(((100% / 12) * 9) - 1px)
}

.col-xs-offset-10{
    margin-left: calc(((100% / 12) * 10) - 1px)
}

.col-xs-offset-11{
    margin-left: calc(((100% / 12) * 11) - 1px)
}

/**************
 * RESPONSIVE *
 **************/

 @media screen and (min-width: 576px){
    .col-sm{
        flex-grow: 1;
        flex-basis: 0;
    }
    
    
    .col-sm-1{
        flex-basis: calc(((100% / 12) * 1) - 1px);
        max-width: calc(((100% / 12) * 1) - 1px);
    }
    
    .col-sm-2{
        flex-basis: calc(((100% / 12) * 2) - 1px);
        max-width: calc(((100% / 12) * 2) - 1px);
    }
    
    .col-sm-3{
        flex-basis: calc(((100% / 12) * 3) - 1px);
        max-width: calc(((100% / 12) * 3) - 1px);
    }
    
    .col-sm-4{
        flex-basis: calc(((100% / 12) * 4) - 1px);
        max-width: calc(((100% / 12) * 4) - 1px);
    }
    
    .col-sm-5{
        flex-basis: calc(((100% / 12) * 5) - 1px);
        max-width: calc(((100% / 12) * 5) - 1px);
    }
    
    .col-sm-6{
        flex-basis: calc(((100% / 12) * 6) - 1px);
        max-width: calc(((100% / 12) * 6) - 1px);
    }
    
    .col-sm-7{
        flex-basis: calc(((100% / 12) * 7) - 1px);
        max-width: calc(((100% / 12) * 7) - 1px);
    }
    
    .col-sm-8{
        flex-basis: calc(((100% / 12) * 8) - 1px);
        max-width: calc(((100% / 12) * 8) - 1px);
    }
    
    .col-sm-9{
        flex-basis: calc(((100% / 12) * 9) - 1px);
        max-width: calc(((100% / 12) * 9) - 1px);
    }
    
    .col-sm-10{
        flex-basis: calc(((100% / 12) * 10) - 1px);
        max-width: calc(((100% / 12) * 10) - 1px);
    }
    
    .col-sm-11{
        flex-basis: calc(((100% / 12) * 11) - 1px);
        max-width: calc(((100% / 12) * 11) - 1px);
    }
    
    .col-sm-12{
        flex-basis: calc(((100% / 12) * 12) - 1px);
        max-width: calc(((100% / 12) * 12) - 1px);
    }
    
    /*-------------
        Offset
    --------------*/
    
    .col-sm-offset-1{
        margin-left: calc(((100% / 12) * 1) - 1px)
    }
    
    .col-sm-offset-2{
        margin-left: calc(((100% / 12) * 2) - 1px)
    }
    
    .col-sm-offset-3{
        margin-left: calc(((100% / 12) * 3) - 1px)
    }
    
    .col-sm-offset-4{
        margin-left: calc(((100% / 12) * 4) - 1px)
    }
    
    .col-sm-offset-5{
        margin-left: calc(((100% / 12) * 5) - 1px)
    }
    
    .col-sm-offset-6{
        margin-left: calc(((100% / 12) * 6) - 1px)
    }
    
    .col-sm-offset-7{
        margin-left: calc(((100% / 12) * 7) - 1px)
    }
    
    .col-sm-offset-8{
        margin-left: calc(((100% / 12) * 8) - 1px)
    }
    
    .col-sm-offset-9{
        margin-left: calc(((100% / 12) * 9) - 1px)
    }
    
    .col-sm-offset-10{
        margin-left: calc(((100% / 12) * 10) - 1px)
    }
    
    .col-sm-offset-11{
        margin-left: calc(((100% / 12) * 11) - 1px)
    }
 }

@media screen and (min-width:768px){
    .col-md{
        flex-grow: 1;
        flex-basis: 0;
    }
    
    
    .col-md-1{
        flex-basis: calc(((100% / 12) * 1) - 1px);
        max-width: calc(((100% / 12) * 1) - 1px);
    }
    
    .col-md-2{
        flex-basis: calc(((100% / 12) * 2) - 1px);
        max-width: calc(((100% / 12) * 2) - 1px);
    }
    
    .col-md-3{
        flex-basis: calc(((100% / 12) * 3) - 1px);
        max-width: calc(((100% / 12) * 3) - 1px);
    }
    
    .col-md-4{
        flex-basis: calc(((100% / 12) * 4) - 1px);
        max-width: calc(((100% / 12) * 4) - 1px);
    }
    
    .col-md-5{
        flex-basis: calc(((100% / 12) * 5) - 1px);
        max-width: calc(((100% / 12) * 5) - 1px);
    }
    
    .col-md-6{
        flex-basis: calc(((100% / 12) * 6) - 1px);
        max-width: calc(((100% / 12) * 6) - 1px);
    }
    
    .col-md-7{
        flex-basis: calc(((100% / 12) * 7) - 1px);
        max-width: calc(((100% / 12) * 7) - 1px);
    }
    
    .col-md-8{
        flex-basis: calc(((100% / 12) * 8) - 1px);
        max-width: calc(((100% / 12) * 8) - 1px);
    }
    
    .col-md-9{
        flex-basis: calc(((100% / 12) * 9) - 1px);
        max-width: calc(((100% / 12) * 9) - 1px);
    }
    
    .col-md-10{
        flex-basis: calc(((100% / 12) * 10) - 1px);
        max-width: calc(((100% / 12) * 10) - 1px);
    }
    
    .col-md-11{
        flex-basis: calc(((100% / 12) * 11) - 1px);
        max-width: calc(((100% / 12) * 11) - 1px);
    }
    
    .col-md-12{
        flex-basis: calc(((100% / 12) * 12) - 1px);
        max-width: calc(((100% / 12) * 12) - 1px);
    }
    
    /*-------------
        Offset
    --------------*/
    
    .col-md-offset-1{
        margin-left: calc(((100% / 12) * 1) - 1px)
    }
    
    .col-md-offset-2{
        margin-left: calc(((100% / 12) * 2) - 1px)
    }
    
    .col-md-offset-3{
        margin-left: calc(((100% / 12) * 3) - 1px)
    }
    
    .col-md-offset-4{
        margin-left: calc(((100% / 12) * 4) - 1px)
    }
    
    .col-md-offset-5{
        margin-left: calc(((100% / 12) * 5) - 1px)
    }
    
    .col-md-offset-6{
        margin-left: calc(((100% / 12) * 6) - 1px)
    }
    
    .col-md-offset-7{
        margin-left: calc(((100% / 12) * 7) - 1px)
    }
    
    .col-md-offset-8{
        margin-left: calc(((100% / 12) * 8) - 1px)
    }
    
    .col-md-offset-9{
        margin-left: calc(((100% / 12) * 9) - 1px)
    }
    
    .col-md-offset-10{
        margin-left: calc(((100% / 12) * 10) - 1px)
    }
    
    .col-md-offset-11{
        margin-left: calc(((100% / 12) * 11) - 1px)
    }
}

@media screen and (min-width: 992px) {
    .col-lg{
        flex-grow: 1;
        flex-basis: 0;
    }
    
    
    .col-lg-1{
        flex-basis: calc(((100% / 12) * 1) - 1px);
        max-width: calc(((100% / 12) * 1) - 1px);
    }
    
    .col-lg-2{
        flex-basis: calc(((100% / 12) * 2) - 1px);
        max-width: calc(((100% / 12) * 2) - 1px);
    }
    
    .col-lg-3{
        flex-basis: calc(((100% / 12) * 3) - 1px);
        max-width: calc(((100% / 12) * 3) - 1px);
    }
    
    .col-lg-4{
        flex-basis: calc(((100% / 12) * 4) - 1px);
        max-width: calc(((100% / 12) * 4) - 1px);
    }
    
    .col-lg-5{
        flex-basis: calc(((100% / 12) * 5) - 1px);
        max-width: calc(((100% / 12) * 5) - 1px);
    }
    
    .col-lg-6{
        flex-basis: calc(((100% / 12) * 6) - 1px);
        max-width: calc(((100% / 12) * 6) - 1px);
    }
    
    .col-lg-7{
        flex-basis: calc(((100% / 12) * 7) - 1px);
        max-width: calc(((100% / 12) * 7) - 1px);
    }
    
    .col-lg-8{
        flex-basis: calc(((100% / 12) * 8) - 1px);
        max-width: calc(((100% / 12) * 8) - 1px);
    }
    
    .col-lg-9{
        flex-basis: calc(((100% / 12) * 9) - 1px);
        max-width: calc(((100% / 12) * 9) - 1px);
    }
    
    .col-lg-10{
        flex-basis: calc(((100% / 12) * 10) - 1px);
        max-width: calc(((100% / 12) * 10) - 1px);
    }
    
    .col-lg-11{
        flex-basis: calc(((100% / 12) * 11) - 1px);
        max-width: calc(((100% / 12) * 11) - 1px);
    }
    
    .col-lg-12{
        flex-basis: calc(((100% / 12) * 12) - 1px);
        max-width: calc(((100% / 12) * 12) - 1px);
    }
    
    /*-------------
        Offset
    --------------*/
    
    .col-lg-offset-1{
        margin-left: calc(((100% / 12) * 1) - 1px)
    }
    
    .col-lg-offset-2{
        margin-left: calc(((100% / 12) * 2) - 1px)
    }
    
    .col-lg-offset-3{
        margin-left: calc(((100% / 12) * 3) - 1px)
    }
    
    .col-lg-offset-4{
        margin-left: calc(((100% / 12) * 4) - 1px)
    }
    
    .col-lg-offset-5{
        margin-left: calc(((100% / 12) * 5) - 1px)
    }
    
    .col-lg-offset-6{
        margin-left: calc(((100% / 12) * 6) - 1px)
    }
    
    .col-lg-offset-7{
        margin-left: calc(((100% / 12) * 7) - 1px)
    }
    
    .col-lg-offset-8{
        margin-left: calc(((100% / 12) * 8) - 1px)
    }
    
    .col-lg-offset-9{
        margin-left: calc(((100% / 12) * 9) - 1px)
    }
    
    .col-lg-offset-10{
        margin-left: calc(((100% / 12) * 10) - 1px)
    }
    
    .col-lg-offset-11{
        margin-left: calc(((100% / 12) * 11) - 1px)
    }
}

@media screen and (min-width: 1200px) {
    .col-xl{
        flex-grow: 1;
        flex-basis: 0;
    }
    
    
    .col-xl-1{
        flex-basis: calc(((100% / 12) * 1) - 1px);
        max-width: calc(((100% / 12) * 1) - 1px);
    }
    
    .col-xl-2{
        flex-basis: calc(((100% / 12) * 2) - 1px);
        max-width: calc(((100% / 12) * 2) - 1px);
    }
    
    .col-xl-3{
        flex-basis: calc(((100% / 12) * 3) - 1px);
        max-width: calc(((100% / 12) * 3) - 1px);
    }
    
    .col-xl-4{
        flex-basis: calc(((100% / 12) * 4) - 1px);
        max-width: calc(((100% / 12) * 4) - 1px);
    }
    
    .col-xl-5{
        flex-basis: calc(((100% / 12) * 5) - 1px);
        max-width: calc(((100% / 12) * 5) - 1px);
    }
    
    .col-xl-6{
        flex-basis: calc(((100% / 12) * 6) - 1px);
        max-width: calc(((100% / 12) * 6) - 1px);
    }
    
    .col-xl-7{
        flex-basis: calc(((100% / 12) * 7) - 1px);
        max-width: calc(((100% / 12) * 7) - 1px);
    }
    
    .col-xl-8{
        flex-basis: calc(((100% / 12) * 8) - 1px);
        max-width: calc(((100% / 12) * 8) - 1px);
    }
    
    .col-xl-9{
        flex-basis: calc(((100% / 12) * 9) - 1px);
        max-width: calc(((100% / 12) * 9) - 1px);
    }
    
    .col-xl-10{
        flex-basis: calc(((100% / 12) * 10) - 1px);
        max-width: calc(((100% / 12) * 10) - 1px);
    }
    
    .col-xl-11{
        flex-basis: calc(((100% / 12) * 11) - 1px);
        max-width: calc(((100% / 12) * 11) - 1px);
    }
    
    .col-xl-12{
        flex-basis: calc(((100% / 12) * 12) - 1px);
        max-width: calc(((100% / 12) * 12) - 1px);
    }
    
    /*-------------
        Offset
    --------------*/
    
    .col-xl-offset-1{
        margin-left: calc(((100% / 12) * 1) - 1px)
    }
    
    .col-xl-offset-2{
        margin-left: calc(((100% / 12) * 2) - 1px)
    }
    
    .col-xl-offset-3{
        margin-left: calc(((100% / 12) * 3) - 1px)
    }
    
    .col-xl-offset-4{
        margin-left: calc(((100% / 12) * 4) - 1px)
    }
    
    .col-xl-offset-5{
        margin-left: calc(((100% / 12) * 5) - 1px)
    }
    
    .col-xl-offset-6{
        margin-left: calc(((100% / 12) * 6) - 1px)
    }
    
    .col-xl-offset-7{
        margin-left: calc(((100% / 12) * 7) - 1px)
    }
    
    .col-xl-offset-8{
        margin-left: calc(((100% / 12) * 8) - 1px)
    }
    
    .col-xl-offset-9{
        margin-left: calc(((100% / 12) * 9) - 1px)
    }
    
    .col-xl-offset-10{
        margin-left: calc(((100% / 12) * 10) - 1px)
    }
    
    .col-xl-offset-11{
        margin-left: calc(((100% / 12) * 11) - 1px)
    }
}

@media screen and (min-width: 1400px) {
    .col-xxl{
        flex-grow: 1;
        flex-basis: 0;
    }
    
    
    .col-xxl-1{
        flex-basis: calc(((100% / 12) * 1) - 1px);
        max-width: calc(((100% / 12) * 1) - 1px);
    }
    
    .col-xxl-2{
        flex-basis: calc(((100% / 12) * 2) - 1px);
        max-width: calc(((100% / 12) * 2) - 1px);
    }
    
    .col-xxl-3{
        flex-basis: calc(((100% / 12) * 3) - 1px);
        max-width: calc(((100% / 12) * 3) - 1px);
    }
    
    .col-xxl-4{
        flex-basis: calc(((100% / 12) * 4) - 1px);
        max-width: calc(((100% / 12) * 4) - 1px);
    }
    
    .col-xxl-5{
        flex-basis: calc(((100% / 12) * 5) - 1px);
        max-width: calc(((100% / 12) * 5) - 1px);
    }
    
    .col-xxl-6{
        flex-basis: calc(((100% / 12) * 6) - 1px);
        max-width: calc(((100% / 12) * 6) - 1px);
    }
    
    .col-xxl-7{
        flex-basis: calc(((100% / 12) * 7) - 1px);
        max-width: calc(((100% / 12) * 7) - 1px);
    }
    
    .col-xxl-8{
        flex-basis: calc(((100% / 12) * 8) - 1px);
        max-width: calc(((100% / 12) * 8) - 1px);
    }
    
    .col-xxl-9{
        flex-basis: calc(((100% / 12) * 9) - 1px);
        max-width: calc(((100% / 12) * 9) - 1px);
    }
    
    .col-xxl-10{
        flex-basis: calc(((100% / 12) * 10) - 1px);
        max-width: calc(((100% / 12) * 10) - 1px);
    }
    
    .col-xxl-11{
        flex-basis: calc(((100% / 12) * 11) - 1px);
        max-width: calc(((100% / 12) * 11) - 1px);
    }
    
    .col-xxl-12{
        flex-basis: calc(((100% / 12) * 12) - 1px);
        max-width: calc(((100% / 12) * 12) - 1px);
    }
    
    /*-------------
        Offset
    --------------*/
    
    .col-xxl-offset-1{
        margin-left: calc(((100% / 12) * 1) - 1px)
    }
    
    .col-xxl-offset-2{
        margin-left: calc(((100% / 12) * 2) - 1px)
    }
    
    .col-xxl-offset-3{
        margin-left: calc(((100% / 12) * 3) - 1px)
    }
    
    .col-xxl-offset-4{
        margin-left: calc(((100% / 12) * 4) - 1px)
    }
    
    .col-xxl-offset-5{
        margin-left: calc(((100% / 12) * 5) - 1px)
    }
    
    .col-xxl-offset-6{
        margin-left: calc(((100% / 12) * 6) - 1px)
    }
    
    .col-xxl-offset-7{
        margin-left: calc(((100% / 12) * 7) - 1px)
    }
    
    .col-xxl-offset-8{
        margin-left: calc(((100% / 12) * 8) - 1px)
    }
    
    .col-xxl-offset-9{
        margin-left: calc(((100% / 12) * 9) - 1px)
    }
    
    .col-xxl-offset-10{
        margin-left: calc(((100% / 12) * 10) - 1px)
    }
    
    .col-xxl-offset-11{
        margin-left: calc(((100% / 12) * 11) - 1px)
    }
}