.row{
    color: #fff;
    font-weight: bold;
}

[class ^= "col"] {
    display: flex;
    background-color: #006cfa;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

.col{
    margin-right: 1px;
}

