.row{
    color: #fff;
    font-weight: bold;
    gap: 1px;
    margin-left: 1px ;
    margin-bottom: 1px;
}

[class ^= "col"] {
    display: flex;
    background-color: #006cfa;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.nested_row{
    padding: 15px;
}

.nested{
    background-color: #00e165;
    padding: 15px;
}

.col{
    margin-right: 1px;
}

